Import this python libraries before running the project:

matplotlib.pyplot
matplotlib.image
numpy
cv2
math
sys
Algo used
Gaussian blur - it blurs the given image,a process of performing a weighted average operation on the entire image.
Canny edge detection -produces smoother, thinner, and cleaner images than Sobel and Prewitt filters.
region of interest (ROI)- is a portion of an image that you want to filter or perform some other operation on
Hough-line - The purpose of the technique is to find imperfect instances of objects within a certain class
 